body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: #1B4332;
    color: #212529;
}

header {
    background-color: #081C15;
    color: white;
    padding: 30px;
    text-align: center;
}

nav {
    background-color: #2D6A4F;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #D8F3DC;
}

.container {
    padding: 40px;
}

.card {
    background-color: #D8F3DC;
    padding: 25px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
    animation: fadeIn 1s ease-in;
}

.card h2 {
    color: #081C15;
}

footer {
    background-color: #081C15;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

button {
    background-color: #2D6A4F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1B4332;
}

blockquote {
    background-color: #B7E4C7;
    padding: 15px;
    border-left: 5px solid #2D6A4F;
    font-style: italic;
}

img {
    max-width: 300px;
    border-radius: 8px;
}

iframe {
    width: 100%;
    border-radius: 8px;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}